In [5]:
import pandas as pd
from pandas_profiling import ProfileReport

In [4]:
df = pd.read_csv('payments.csv')
df.head()

   customerNumber checkNumber paymentDate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
4             112     HQ55022  2003-06-06  32641.98

In [13]:
Profile = ProfileReport(df, html={'style':{'full_width':True}})
Profile.to_file('report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]